.title {
  font-size: 45px !important;
  line-height: 55px !important;
  max-width: 550px;

  @media (max-width: 768px) {
    font-size: 35px !important;
    line-height: 40px !important;
  }
}
.dots {
  margin-top: 20px;
  display: flex !important;
  justify-content: center;
  column-gap: 50px;

  & > li > button {
    padding: 5px 10px;
    border: 3px solid gray;
    border-radius: 100%;
    color: white;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  @media (max-width: 768px) {
    margin-top: 5px;
 
  }
}