html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.services .service__subtitle, .title {
  font-size: 55px;
  line-height: 72.5px;
}

.feedback__title, .services__title, .subtitle {
  font-size: 35px;
  line-height: 45.5px;
}

html, body {
  background-color: #000;
  color: #fff;
  font-family: "IBM Plex Mono", monospace;
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 400;
  min-height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

a {
  color: #fff;
}

h1, h2, h3, h4, h5, h6, p, a, div {
  letter-spacing: -0.03em;
}

.page > *:not(:first-child) {
  margin-top: 150px;
}

._container {
  max-width: 1150px;
  margin: 0 auto;
}

.title {
  color: white;
}

.subtitle {
  color: #687db4;
}

.active {
  visibility: visible !important;
  opacity: 1 !important;
}

.deactive-scroll {
  overflow-y: hidden;
}

.header {
  position: absolute;
  width: 100%;
  top: 27px;
  left: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  height: 55px;
}
.header__logo-box {
  background-color: rgba(190, 179, 179, 0.2901960784);
  height: 39px;
  width: 140px;
  border-radius: 100px;
  margin-top: 9px;
  margin-left: -2px;
  padding-right: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo-box .header__logo {
  text-transform: uppercase;
  letter-spacing: -0.08em;
  font-weight: 700;
  font-size: 42.41px;
  color: #687db4;
}

.menu__list {
  margin-top: 2px;
  margin-right: -7px;
  display: flex;
  column-gap: 37px;
}
.menu__list .menu__link {
  transition: all 0.3s ease;
  font-size: 18px;
  line-height: 23.4px;
  border-radius: 15px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 3px;
}
.menu__list .menu__link:hover {
  color: #687db4;
  background-color: rgba(190, 179, 179, 0.2705882353);
}

.burger-btn {
  display: none;
}

.main-block {
  padding-top: 334px;
  padding-bottom: 89px;
  background-image: url("../img/main-block/main-block.jpeg");
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-block__desc {
  max-width: 430px;
  font-size: 20px;
  line-height: 26px;
}
.main-block__title {
  margin-top: 29px;
  margin-left: -7px;
  max-width: 919px;
  color: #687db4;
  font-size: 80px;
  line-height: 70px;
}

.projects img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 30px;
  height: 543px;
}
.projects__title {
  margin-left: -5px;
}
.projects__list {
  margin-top: 40px;
  margin-bottom: 136px;
}
.projects__list .project {
  transition: opacity 0.5s ease;
  max-width: 100%;
  position: relative;
}
.projects__list .project__title {
  position: absolute;
  left: 50px;
  bottom: 94px;
  font-size: 35px;
  line-height: 45.5px;
}
.projects__list .project__title_black {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
.projects__list .project__subtitle {
  padding: 10px 20px;
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 20px;
  line-height: 27.32px;
  background-color: #687db4;
  border-radius: 100px;
}
.projects__list .project__desc {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 30px;
  line-height: 39px;
}
.projects__list .project__desc_black {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}
.projects__list .project:hover {
  opacity: 0.5;
}
.projects__button {
  transition: all 0.5s ease;
  box-sizing: border-box;
  background-color: #687db4;
  padding: 56px 120px 58px 120px;
  border-radius: 10px;
  font-size: 30px;
  line-height: 39px;
  color: #000;
}
.projects__button:hover {
  background-color: #000;
  color: #687db4;
  outline: 1px solid #687db4;
}

.competencies__container {
  margin-top: 207px;
}
.competencies__title {
  margin-bottom: 80px;
}
.competencies__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 50px;
}
.competencies .competence {
  flex: 1 0 49%;
}
.competencies .competence__img-box {
  margin-bottom: 14px;
  background-color: #687db4;
  width: 45px;
  height: 44px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.competencies .competence__title {
  margin-bottom: 16px;
}
.competencies .competence__desc {
  line-height: 28.6px;
}

.services img {
  width: 100%;
}
.services__title {
  margin-bottom: 80px;
  max-width: 403px;
}
.services .service {
  margin-bottom: 40px;
}
.services .service__text-block {
  padding: 40px 45px 40px 40px;
  display: flex;
  background-color: #191C19;
  border-radius: 30px;
}
.services .service__subtitle {
  flex: 1 0 50%;
  color: #687db4;
  margin-bottom: 15px;
}
.services .service__desc {
  flex: 1 0 50%;
}
.services .service:last-of-type {
  margin-bottom: -35px;
}

.feedback {
  background-color: #191C19;
  height: 717px;
  border-radius: 30px;
}
.feedback__container {
  position: relative;
}
.feedback__text-block {
  position: absolute;
}
.feedback__title {
  margin-top: 100px;
  margin-bottom: 60px;
  max-width: 553px;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 37px;
}
.feedback__input {
  display: block;
  width: 70%;
  padding: 16px 40px;
  font-size: 22px;
  line-height: 28.6px;
  color: #fff;
  background-color: #3B3D3B;
  border: none;
  border-radius: 100px;
}
.feedback__input:first-of-type {
  margin-bottom: 26px;
}
.feedback__send-btn {
  transition: all 0.5s ease;
  padding: 19px 19px 22px 20px;
  margin-top: 60px;
  margin-bottom: 101px;
  width: 450px;
  font-size: 22px;
  line-height: 28.6px;
  background-color: #687db4;
  border-radius: 7px;
}
.feedback__send-btn:hover {
  background-color: #191C19;
  border: 1px solid #687db4;
  color: #687db4;
}
.feedback__back-img {
  float: right;
  height: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 50%;
  object-fit: cover;
}

.footer {
  margin-top: 10px;
  padding-top: 76px;
  padding-bottom: 20px;
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__wrapper_bottom {
  margin-top: 66px;
}
.footer__title {
  line-height: 30.05px;
  font-family: Manrope;
  color: #000;
}
.footer__social-list {
  display: flex;
}
.footer__social:not(:last-of-type) {
  margin-right: 24px;
}
.footer__social-link {
  transition: all 0.2s ease;
  color: #000;
}
.footer__social-link:hover {
  color: #687db4;
  border-bottom: 2px solid #687db4;
}
.footer__all-rights, .footer__political {
  color: rgba(0, 0, 0, 0.5);
  font-family: Manrope;
  font-size: 20px;
  line-height: 27.32px;
}

.burger {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);
}
.burger__content {
  padding-top: 50px;
  width: 100%;
}
.burger__content > *:not(:last-child) {
  margin-bottom: 30px;
}
.burger__link {
  text-align: center;
  font-size: 30px;
}
.burger__link > a {
  transition: all 0.4s ease-in-out;
  padding: 5px;
}
.burger__link > a:hover {
  border: 1px solid rgba(255, 255, 255, 0.4352941176);
  border-radius: 15px;
}
.burger__close-btn {
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
}
.burger__cross {
  padding: 5px;
  width: 50px;
  transition: all 0.4s;
}
.burger__cross:hover {
  border: 1px solid rgba(255, 255, 255, 0.4352941176);
  border-radius: 30px;
}

@media (max-width: 1200px) {
  ._container {
    padding: 0 15px;
  }
}
@media (max-width: 960px) {
  .title {
    font-size: 45px;
    line-height: 58.5px;
  }
  .subtitle {
    font-size: 28px;
    line-height: 36.4px;
  }
  .header {
    top: 23px;
  }
  .header__menu {
    display: none;
  }
  .header .burger-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    width: 50px;
    height: 50px;
    background-image: url("../img/header/burger-btn.png");
    background-size: cover;
    cursor: pointer;
  }
  .main-block {
    padding-top: 368px;
    padding-bottom: 60px;
  }
  .main-block__title {
    font-size: 60px;
  }
  .projects img {
    height: 445px;
  }
  .projects__list {
    margin-top: 53px;
    margin-bottom: 120px;
  }
  .projects .project__title {
    font-size: 28px;
    line-height: 36.4px;
    bottom: 76px;
    left: 40px;
  }
  .projects .project__subtitle {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 21.86px;
    border-radius: 80px;
    left: 40px;
    top: 40px;
  }
  .projects .project__desc {
    font-size: 24px;
    line-height: 31.2px;
    left: 40px;
    bottom: 40px;
  }
  .projects__button {
    padding: 45px 67px;
    font-size: 24px;
    line-height: 31.54px;
  }
  .competencies__title {
    margin-bottom: 28px;
  }
  .competencies .competence__img-box {
    margin-bottom: 10px;
  }
  .competencies .competence__title {
    margin-bottom: 13px;
  }
  .competencies .competence__desc {
    font-size: 18px;
    line-height: 23.4px;
  }
  .services__title {
    margin-bottom: 60px;
  }
  .services .service {
    margin-bottom: 32px;
  }
  .services .service__head {
    height: 162px;
  }
  .services .service__text-block {
    padding: 32px;
  }
  .services .service__subtitle {
    font-size: 45px;
    line-height: 49.5px;
    max-width: 380px;
    margin-right: 40px;
  }
  .feedback {
    height: 484px;
  }
  .feedback__title {
    margin-top: 50px;
    margin-bottom: 40px;
    max-width: 373px;
    font-size: 45px;
    line-height: 40.5px;
  }
  .feedback__input {
    padding: 10px 24px;
    font-size: 16px;
    line-height: 20.8px;
  }
  .feedback__input:first-of-type {
    margin-bottom: 17px;
  }
  .feedback__send-btn {
    padding: 12px 13px 14px 14px;
    margin-top: 40px;
    margin-bottom: 86px;
    width: 304px;
    font-size: 16px;
    line-height: 20.8px;
  }
  .footer {
    margin-top: 7px;
    padding-top: 51px;
  }
  .footer__title, .footer__social-link {
    font-size: 16px;
    line-height: 21.86px;
  }
  .footer__social:not(:last-of-type) {
    margin-right: 14px;
  }
  .footer__wrapper_bottom {
    margin-top: 43px;
  }
  .footer__all-rights, .footer__political {
    font-size: 14px;
    line-height: 19.12px;
  }
}
@media (max-width: 767px) {
  .feedback__title {
    font-size: 35px;
    max-width: 300px;
  }
}
@media (max-width: 640px) {
  .page > *:not(:first-child) {
    margin-top: 70px;
  }
  .main-block {
    padding-top: 270px;
    padding-bottom: 30px;
  }
  .main-block__title {
    margin-top: 20px;
    font-size: 50px;
    line-height: 45px;
  }
  .title {
    font-size: 40px;
    line-height: 37px;
    text-align: center;
  }
  .projects__list {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .projects__button {
    padding: 30px 67px;
    display: block;
    text-align: center;
  }
  .projects .project__title {
    bottom: 120px;
  }
  .competencies__list {
    flex-direction: column;
  }
  .services__title {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .services .service__text-block {
    padding: 20px !important;
    flex-direction: column;
  }
  .services .service__subtitle, .services .service__desc {
    width: 100%;
  }
  .services .service__subtitle {
    font-size: 28px;
    line-height: 25px;
  }
  .services .service__desc {
    font-size: 18px;
    line-height: 23px;
  }
  .feedback {
    height: 400px;
  }
  .feedback__text-block {
    width: 95%;
  }
  .feedback__title {
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .feedback__input {
    width: 100%;
    box-sizing: border-box;
  }
  .feedback__send-btn {
    width: 100%;
  }
  .feedback__back-img {
    display: none;
  }
  .footer {
    padding-top: 35px;
  }
  .footer__wrapper {
    column-gap: 30px;
  }
  .footer__social-list {
    flex-wrap: wrap;
  }
}
@media (max-width: 530px) {
  .projects .project__desc {
    width: 100%;
    text-align: center;
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */