@import "../../../styles/vars.scss";

.menu {
  margin-right: 30px;
  & > :first-child {
    display: flex;
    align-items: center;
    column-gap: 40px;

    & > * {
      font-size: 18px;
      border-bottom: 1px solid transparent;
      line-height: 23.4px;

      transition: all linear 0.2s;

      &:hover {
        opacity: 0.7;
        transform: scale(1.2);
        & > a {
          color: $blue-color;
        }
      }
    }
  }
}
