@import "/src/styles/vars";

.competence {
  flex: 1 0 49%;
}
.wrapper {
  background-color: $blue-color;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 15px;
}
.description {
  margin-top: 15px;
  line-height: 29px;
}
