@import "reset/reset";
@import "extensions/ext";
@import "mixins/mixins";
@import "vars/vars";


html, body {
    background-color: #000;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 22px;
    font-weight: 400;
    line-height: 1;
    min-height: 100%;
}
a {
    color: #fff;
}

h1, h2, h3, h4, h5, h6, p, a, div {
    letter-spacing: -0.03em;
}
._container {
    @include container;
}
.page > *:not(:first-child) {
    margin-top: 150px;
}

.title {
    color: white;
    @extend %title-text;
}
.subtitle {
    color: $green-text;
    @extend %subtitle-text;
}


.wrapper {    
    min-height: 100%;
    overflow: hidden;
}

.header {
    position: absolute;
    width: 100%;
    top: 27px;
    left: 0;
    
    .header__container {
        display: flex;
        justify-content: space-between;
        height: 55px;
        .header__logo {
            margin-top: 9px;
            margin-bottom: 7px;
            padding-left: 9px;
            border-radius: 100px;
            background-color: #000;
            width: 130px;
            height: 39px;

            text-transform: uppercase;
            letter-spacing: -0.11em;
            font-weight: 700;
            font-size: 42.41px;
            color: $green-text;

        }
        .menu__list {
            margin-top: 6px;
            display: flex;
            column-gap: 50px;
            .menu__link {
                font-size: 18px;
                line-height: 23.4px;
                &:hover {
                    color: $green-text;
                }
            }
        }
    }
}
.main-block {
    padding-top: 334px;
    padding-bottom: 94px;
    background-image: url('../img/main-block/main-pict.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;

    .main-block__desc {
        max-width: 430px;
        font-size: 20px;
        line-height: 26px;
    }
    .main-block__title {
        margin-top: 29px;
        max-width: 919px;
        color: $green-text;
        font-size: 80px;
        line-height: 70px;
    }
}
.projects {
    .projects__list {
        margin-top: 40px;
        margin-bottom: 80px + 56px;
        .project {
            max-height: 550px;
            max-width: 100%;
            position: relative;
            .project__title {
                position: absolute;
                bottom: 94px;
                left: 50px;
                color: #fff;
            }
            .project__desc {
                position: absolute;
                bottom: 50px;
                left: 50px
            }
        }
    }
    .projects__button {
        box-sizing: border-box;
        background-color: $green-text;
        padding: 56px 85px 58px 86px;
        border-radius: 10px;
        font-size: 30px;
        line-height: 39px;
        color: #000;
        &:hover {
            background-color: #000;
            color: $green-text;
            border: 1px solid $green-text;
        }
    }
}
.competencies {
    .competencies__title {
        margin-bottom: 48px;
    }
    .competence {
        margin-bottom: 60px;
        .competence__img-box {
            margin-bottom: 12px;
            background-color: $green-text;
            width: 45px;
            height: 44px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .competence__title {
            margin-bottom: 15px;

        }
        .competence__desc {
            line-height: 28.6px;
            width: 778px;
        }
        &:last-child{
            margin-bottom: 0px;
            .competence__title {
                width: 651px;
            }
        }
    }
}
