@import "reset/reset";
@import "extensions/ext";

$green-color: #687db4;


@import "init-styles";
@import "common-styles";



@import "blocks/header";
@import "blocks/main-block";
@import "blocks/projects";
@import "blocks/competencies";
@import "blocks/services";
@import "blocks/feedback";
@import "blocks/footer";




@media (max-width: 1149px) {
    .header, .main-block, .projects, .competencies, .services, .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}