@import "/src/styles/vars";

.projects {
  margin-bottom: 50px;
}
.button {
  padding: 56px 120px 58px 120px;
  display: inline-block;
  box-sizing: border-box;
  background-color: $blue-color;
  border-radius: 10px;
  font-size: 30px;
  line-height: 39px;
  color: #000;
  transition: all 0.5s ease;

  &:hover {
    background-color: #000;
    color: $blue-color;
    outline: 1px solid $blue-color;
  }
}
