.competencies {
    &__container {
        margin-top: 207px;
    }
    &__title {
        margin-bottom: 80px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 50px;
    }
    .competence {
        flex: 1 0 49%;
        &__img-box {
            margin-bottom: 14px;
            background-color: $green-color;
            width: 45px;
            height: 44px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title {
            margin-bottom: 16px;

        }
        &__desc {
            line-height: 28.6px;
        }
    }
}