.feedback {
    background-color: #191C19;
    height: 717px;
    border-radius: 30px;
    &__container {
        position: relative;
    }
    &__text-block {
        position: absolute;
    }
    &__title {
        margin-top: 100px;
        margin-bottom: 60px;
        max-width: 553px;
        font-size: 60px;
        line-height: 60px;
        @extend %subtitle-text;
        margin-bottom: 37px;
    }
    &__input {
        display: block;
        width: 70%;
        padding: 16px 40px;
        font-size: 22px;
        line-height: 28.6px;
        color: #fff;

        background-color: #3B3D3B;
        border: none;
        border-radius: 100px;
        &:first-of-type {
            margin-bottom: 26px;
        }
    }
    &__send-btn {
        padding: 19px 19px 22px 20px;
        margin-top: 60px;
        margin-bottom: 101px;
        width: 450px;
        font-size: 22px;
        line-height: 28.6px;
        background-color: $green-color;
        border-radius: 7px;

        &:hover {
            background-color: #191C19;
            border: 1px solid $green-color;
            color: $green-color;
        }
    }
    &__back-img {
        float: right;
        height: 100%;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        width: 50%;
        object-fit: cover;
    }

}