.footer {
    margin-top: 150px;
    padding-top: 76px;
    padding-bottom: 20px;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    &__title {
        line-height: 30.05px;
        font-family: Manrope;
        color: #000;
    }
    &__all-rights {
        margin-top: 66px;
        color: rgba($color: #000000, $alpha: 0.5);
        font-family: Manrope;
        font-size: 20px;
        line-height: 27.32px;
    }
}