.footer {
    margin-top: 10px;
    padding-top: 76px;
    padding-bottom: 20px;
    background-color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        &_bottom {
            margin-top: 66px;
        }
    }
    &__title {
        line-height: 30.05px;
        font-family: Manrope;
        color: #000;
    }
    &__social-list {
        display: flex;
        
    }
    &__social:not(:last-of-type) {
        margin-right: 24px;
    }
    &__social-link {
        color: #000;
        &:hover {
            color: $green-color;
            border-bottom: 2px solid $green-color;
        }
    }
    &__all-rights, &__political {
        color: rgba($color: #000000, $alpha: 0.5);
        font-family: Manrope;
        font-size: 20px;
        line-height: 27.32px;
    }
}