.projects {
    img {
        width: 100%;
        object-fit: cover;
        object-position: 50% 0%;
        border-radius: 30px;
        height: 543px;
    }
    &__title {
        margin-left: -5px;
    }
    &__list {
        margin-top: 40px;
        margin-bottom: 80px + 56px;
        .project {
            transition: opacity 0.5s ease;
            max-width: 100%;
            position: relative;
            &__title {
                position: absolute;
                left: 50px;
                bottom: 94px;
                font-size: 35px;
                line-height: 45.5px;

                &_black {
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 10px;
                    background-color: rgba($color: #fff, $alpha: 0.7);
                    color: black;
                }
            }
            &__subtitle {
                padding: 10px 20px;
                position: absolute;
                top: 50px;
                left: 50px;
                font-size: 20px;
                line-height: 27.32px;
                background-color: $green-color;
                border-radius: 100px;
            }
            &__desc {
                position: absolute;
                bottom: 50px;
                left: 50px;
                font-size: 30px;
                line-height: 39px;

                &_black {
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 10px;
                    background-color: rgba($color: #fff, $alpha: 0.7);
                    color: black;
                }
            }

            &:hover {
                opacity: 0.5;
            }
        }
    }
    &__button {
        transition: all 0.5s ease;
        box-sizing: border-box;
        background-color: $green-color;
        padding: 56px 120px 58px 120px;
        border-radius: 10px;
        font-size: 30px;
        line-height: 39px;
        color: #000;
        &:hover {
            background-color: #000;
            color: $green-color;
            outline: 1px solid $green-color;
        }
    }
}
