.services {
    img {
        width: 100%;
    }
    &__title {
        margin-bottom: 80px;
        max-width: 403px;
        @extend %subtitle-text;
    }
    .service {
        margin-bottom: 40px;
        &__text-block {
            padding: 40px 45px 40px 40px;
            display: flex;
            background-color: #191C19;
            border-radius: 30px;
        }
        &__subtitle {
            flex: 1 0 50%;
            @extend %title-text;
            color: $green-color;
            margin-bottom: 15px;
        }
        &__desc {
            flex: 1 0 50%;
        }
        &:last-of-type {
            margin-bottom: -35px;
        }
    }
}