.services {
    img {
        width: 100%;
    }
    &__title {
        margin-bottom: 73px;
        max-width: 403px;
        @extend %subtitle-text;
    }
    .service__text-block {
        background-color: #191C19;
        border-radius: 30px;
        min-height: 277px;
        padding-left: 40px;
        padding-top: 36px;
        padding-right: 69px;
        .service__subtitle {
            @extend %title-text;
            color: $green-color;
            margin-bottom: 15px;
        }
        .service__desc {
            max-width: 749px;
            &:last-child {
                max-width: 724px;
            }
        }
    }
    .service {
        margin-bottom: 74px;
        // &:first-child {
        //     margin-bottom: 74px;
        // }
        // &:last-child {
        //     margin-top: 137px;
        // }
    }
}