@import '../../../styles/vars.scss';

.logo {
  padding: 15px 25px;

  background-color: #beb3b34a;
  border-radius: 47%;

  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-weight: 700;
  font-size: 42.41px;
  color: $blue-color;
}
